<!-- DeenaApp/templates/Community_post.html -->
<!DOCTYPE html>
<html>
<head>
    <title>Search Community Posts</title>
	
</head>
<body>
    <h1>Search Community Posts</h1>

    <form method="get" action="{% url 'Community_post' %}">
    <input type="text" name="channel_name" placeholder="Enter YouTube Channel Name">
    <input type="text" name="query" placeholder="Enter Search Query">
    <input type="submit" value="Search">
    </form>
	
{% if community_posts_data %}
     <h1>Community Posts</h1>

    
        <ul>
            {% for post in community_posts_data %}
                <li>{{ post }}</li>
            {% endfor %}
        </ul>
    {% else %}
        <p>No community posts available.</p>
    {% endif %}
</body>
</html>
