<!-- DeenaApp/templates/youtube_search_year.html -->
<!DOCTYPE html>
<html>
<head>
    <title>YouTube Video Search by Year</title>
	
</head>
<body>
    <h1>Search YouTube Videos by Year</h1>

    <form method="get" action="{% url 'Search_By_Year' %}">
        <label for="channel_id">Channel ID:</label>
        <input type="text" id="channel_id" name="channel_id" required>
        <br>
        <label for="year">Year:</label>
        <input type="number" id="year" name="year" min="2005" max="{{ 2023 }}" required>
        <br>
        <input type="submit" value="Search">
    </form>

    {% if videos %}
    <h2>Videos from {{ year }} </h2>
    <ul>
        {% for video in videos %}
            <li>
                <a href="https://www.youtube.com/watch?v={{ video.id.videoId }}" target="_blank">{{ video.snippet.title }}</a>
            </li>
        {% endfor %}
    </ul>
    {% endif %}
</body>
</html>
