<!-- DeenaApp/templates/myapp/youtube_search.html -->
{% extends 'base.html' %}
<!DOCTYPE html>
<html>
{% block content %}
<head>
    <title>YouTube Channel Search</title>
</head>
<body>
    
    {% if results %}
    <h2>Search Results</h2>
    <ul>
        {% for video in results %}
            <li>
                <a href="https://www.youtube.com/watch?v={{ video.id.videoId }}" target="_blank">{{ video.snippet.title }}</a>
            </li>
        {% endfor %}
    </ul>
    {% endif %}
</body>
{% endblock %}
</html>

